:root {
    --primary-color: rgb(238, 77, 45);
    --primary-color-rgba: rgba(245, 45, 45, 0.08);
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    /* 10px <==> 1rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes faceIn{
    from {
        opacity: 0;
        /* width: 0 ; */
    }
    to {
        opacity: 1;
        /* width: 100% fit-content; */
    }
}

/* Sign IN/UP Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 3;
}

/* Button Style */
.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--while-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
    color: var(--while-color);
    background-color: var(--primary-color);
}

.btn--size-s {
    height: 35px;
    font-size: 1.2rem;
}

.btn.btn-disabled {
    cursor: default;
    opacity: 0.3;
}

.auth-form__socials {
    background-color: #eaeaea;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
}

.btn--with-icon {
    width: 210px;
    padding-right: 28px;
}

