:root {
    --primary-color: rgb(250, 81, 48);
    --primary-color-rgba: rgba(245, 45, 45, 0.08);
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --navbar-height: 28px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* 10px <==> 1rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Responsive */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66667%;
}

.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33334%;
}

/* Animation */
@keyframes faceIn{
    from {
        opacity: 0;
        /* width: 0 ; */
    }
    to {
        opacity: 1;
        /* width: 100% fit-content; */
    }
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Sign IN/UP Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: faceIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 3;
    animation: growth linear 0.1s;
}

/* Button Style */
.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--while-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    color: var(--while-color);
    background-color: var(--primary-color);
}

.btn--size-s {
    height: 35px;
    font-size: 1.2rem;
}

.btn.btn-disabled {
    cursor: default;
    opacity: 0.3;
}

.auth-form__socials {
    background-color: #eaeaea;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
}

.btn--with-icon {
    width: 210px;
    padding-right: 28px;
}

/* Selection */

.select-input {
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--while-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 1px #ccc;
    z-index: 1;
}

.select-input-icon {
    font-size: 1rem;
    color: #4a4a4a;
    position: relative;
    bottom: 1px;
}

/* List Option */
.select-input__list {
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    list-style: none;
    background-color: var(--while-color);
    border-radius: 2px;
    padding-left: 0;
    display: none;
}

.select-input__link {
    display: block;
    padding: 8px 12px;
    margin: 6px 0;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.select-input__link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* Pagination UI */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.home-pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--while-color);
}

.pagination-item--active:hover .pagination-item__link {
    opacity: 0.9;
}

.pagination-item__link {
    --heigh: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    min-width: 40px;
    height: var(--heigh);
    text-align: center;
    line-height: var(--heigh);
    border-radius: 2px;
    color: #8e8e8e;
    font-weight: 400;
}

