.header {
    height: 120px;
    background-image: linear-gradient(-180deg, #f53d2d, #f63);
}

/* Navigation Layout */
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header__navbar-item {
    position: relative;
    margin: 0 10px;
    min-width: 26px;
    z-index: 1;
}

.header__navbar-item--has-notify:hover 
.header__notify {
    display: block;
    cursor: pointer;
}

.header__navbar-item--has-notify:hover
.header__navbar-item-link {
    color: rgba(255, 255, 255, 0.7);
}

/* Navigation QR Code */
.header__navbar-item--has-qr {
    margin-left: 0;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 450;
}

.header__navbar-item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 2px solid #FB9096;
    height: 16px;
}

.header__navbar-icon-link {
    color: var(--while-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 6px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--while-color);
}

/* Header QR Code */
.header__qr {
    width: 190px;   
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 180%;
    padding: 4px;
    border-radius: 2px;
    box-shadow: 0 0 5px #999;
    display: none;
    animation: faceIn ease-in 0.3s;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 135%;
    height: 10%;
    display: block;
    top: -10%;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-around;
    margin: 6px 12px 0 12px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 400px;
    background-color: var(--while-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: growth ease 0.12s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 4px;
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--while-color) transparent;    
}

.header__notify::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 6%;
    display: block;
    top: -4%;
    right: 0;
}

.header__notify-header {
    height: 40px;
    background-color: #FFF;
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-lists {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--wiewed {
    background-color: var(--primary-color-rgba);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 46px;
    object-fit: contain;
}

.header__notify-info {
    margin: 0 0 0 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.1rem;
    color: #756F6E;
    margin-top: 4px;
}

/* Header Notification Footer */
.header__notify-footer {
    background-color: rgba(0,0,0,0.05);
}

.header__notify-footer:hover {
    background-color: rgba(0,0,0,0.10);
}

.header__notify-footer:hover a{
    color: #f63;
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
    padding: 4px 0;
    width: 100%;
    text-align: center;
}

/* Auth Modal */
.auth-form {
    background-color: var(--while-color);
    width: 500px;
    border-radius: 5px;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 12px 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 24px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 8px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 100px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--while-color);
    background-color: #3a5998;
    margin-left: 10px;
}

.auth-form__socials--facebook {
    background-color: #3a5998;
    color: var(--while-color);
    margin-left: 8px;
}

.auth-form__social-title {
    margin-left: 16px;
    text-transform: none ;
}

.auth-form__socials--google 
.auth-form__socials-icon {
    color: #f53d2d;
    background-color: var(--while-color);
    margin-left: 10px;
}

.auth-form__socials--google {
    background-color: var(--while-color);
    padding-right: 41px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.3rem;
    text-decoration: none;
}

.auth-form__help-seperate {
    display: block;
    height: 18px;
    border: 1px solid #eaeaea;
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-help {
    color: #939393;
}

/* Search Layout */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    flex: 1;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    display: flex;
    height: 40px;
    background-color: var(--while-color);
    flex: 1;
    border-radius: 2px;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    border-left: 1px solid #d4d4d4;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1rem;
    color: #4a4a4a;
    margin: 0 8px;
    position: relative;
    bottom: 1px;
}

.header__search-btn {
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--while-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    border-radius: 2px;
    width: 124px;
    padding: 0;
    list-style: none;
    box-shadow: 0 1px 3px #ccc;
    /* overflow: hidden; */
    display: none;
    animation: faceIn ease-in 0.1s;
}

.header__search-option::before {
    content: "";
    position: absolute;
    top: -18%;
    right: 0;
    width: 100%;
    height: 18%;
    display: block;
}

.header__search-option-item {
    background-color: var(--while-color);
    padding: 4px 0 4px 10px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 3rem;
    padding-left: 16px;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Search History */
.header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    width: calc(100% - 16px);
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px #ccc;
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #cfcfcf;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__search-history-item {
    height: 34px;
}

.header__search-history-item:hover {
    background-color: #f0f0f0;
}

.header__search-history-item a {
    display: block;
    padding: 0 12px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 34px;
}

/* Cart Layout */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 35%;
    top: 100%;
    width: 30%;
    height: 30%;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    top: -15%;
    right: 4px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--while-color);
    font-size: 2.2rem;
    margin-top: 10px;
}

.header__cart-list {
    display: none;
    position: absolute;
    top: 130%;
    right: -22%;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0px 1px 36px 0 rgba(0, 0, 0, 0.15);
    animation: growth ease 0.12s;
    transform-origin: calc(100% - 20px) top;
    will-change: opacity, transform;
    cursor: default;
}

.header__cart-no-cart-img {
    width: 60%;
    margin-top: 20px;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 16px 0;
}